<configuration>
    <include resource="logback-appenders.xml"/>

    <logger name="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver" level="OFF"/>
    <springProfile name="local">
        <logger name="org.hibernate.SQL" level="DEBUG"/>
        <logger name="org.hibernate.orm.jdbc.bind" level="TRACE"/>
        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="stg">
        <root level="info">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
        <logger name="com.meetup.server" level="debug"/>
    </springProfile>

    <springProfile name="prod">
        <root level="info">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>
</configuration>
